/* fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url("../fonts/opensans-light.svg#OpenSansLight") format("svg"), url(../fonts/opensans-light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans.svg#OpenSansRegular") format("svg"), url(../fonts/opensans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("../fonts/opensans-semibold.svg#OpenSansSemibold") format("svg"), url(../fonts/opensans-semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("../fonts/opensans-bold.svg#OpenSansBold") format("svg"), url(../fonts/opensans-bold.woff) format('woff');
}

/* bootstrap */

/*!
 * Bootstrap v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: #999999;
}
a.muted:hover,
a.muted:focus {
  color: #808080;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}
.text-error {
  color: #b94a48;
}
a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}
.text-success {
  color: #468847;
}
a.text-success:hover,
a.text-success:focus {
  color: #356635;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1 {
  font-size: 38.5px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 8px 0 8px 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
  background: #f7f7f7;
}
blockquote p {
  margin-bottom: 0;
  font-size: 14.5px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f7f7f7;
  border: 1px solid #dfdfdf;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/* docs */

html, body {
	font-family: 'Open Sans', sans-serif;
	background: #141c20;
	color: #4a4a4a;
	padding: 0;
	margin: 0;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
}

body > header {
	background: #232e34;
}

body > header + div {
	background: #f8f8f8;
	padding: 40px 0;
}

nav.primary {
	font-size: 24px;
	padding: 20px 0 60px;
}

nav.primary a {
	color: #fff;
	float: right;
	font-size: 0.6em;
	text-decoration: none;
	margin-left: 16px;
	padding-top: 10px;
}

nav.primary > a:first-of-type {
	float: left;
	font-size: 1em;
	padding-top: 0;
	margin-left: 0;
}

nav.primary > a:first-of-type span {
	color: #3e515a;
	display: block;
	font-size: 0.5em;
}

.pagetitle {
	box-shadow: -6px 0 6px rgba(0, 0, 0, 0.05);
	border-top: 1px solid #00d9ee;
	border-bottom: 1px solid #00b7df;
	background: #00bfe3;
	color: #fff;
	text-shadow: 0 1px #009fcc;
	padding: 40px 0;
	font-size: 30px;
}

footer {
	color: #333f46;
	padding: 0 0 40px 0;
}

footer a {
	color: #546773;
}

footer .sub {
	background: #273238;
	color: #9fb9c7;
	padding: 40px 0;
	margin-bottom: 40px;
}

footer .sub .title {
	color: #c1d2db;
	font-size: 1.3em;
	margin-bottom: 10px;
}

footer .sub a {
	color: #c1d2db;
	font-size: 0.9em;
}

footer .sub a:hover {
	color: #ffb800;
}

footer ul {
	width: 200px;
	float: left;
	list-style: none;
	margin: 0;
}

.main {
	background: #fff;
	border: 1px solid #ebebeb;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	border: 4px solid #fafafa;
	height: auto;
	min-height: 250px;
	overflow: hidden;
}

nav.secondary {
  background: -webkit-linear-gradient(left, #fff 0%, #fff 20%, #fff 80%, #f6f6f6 100%);
	background: linear-gradient(to right, #fff 0%, #fff 20%, #fff 80%, #f6f6f6 100%);
}

nav.secondary ul {
	list-style: none;
	margin: 0;
}

nav.secondary > ul {
	padding: 20px 0 20px 20px;
}

nav.secondary > ul > li {
	color: #606060;
	padding: 10px 0 10px 10px;
	font-size: 1.2em;
}

nav.secondary ul li .active {
	border: 0;
}

nav.secondary ul ul {
	margin-top: 10px;
}

nav.secondary ul li li {
	font-size: 0.8em;
	border-bottom: none;
}

nav.secondary ul li li a {
	color: #919191;
	font-weight: normal;
	text-decoration: none;
	display: block;
	padding: 2px 0 2px 6px;
}

nav.secondary ul li .active a {
	background: #00cced;
	color: #fff;
	padding: 6px 0 6px 6px;
	border-right: 4px solid #13b7d2;
}

span.sub {
	display: block;
	color: #b0b0b0;
	font-size: 0.9em;
	margin-bottom: 4px;
}

span.sub a {
  color: inherit;
  text-decoration: none;
}

span.sub a:hover {
  color: #7e7e7e;
}

p {
	color: #7f7f7f;
}

.label {
	color: #fff;
    padding: 2px 6px;
	display: inline-block;
	border-radius: 4px;
	font-weight: bold;
	font-size: 0.9em;
  text-decoration: none;
  margin-bottom: 4px;
}

.label:hover {
  text-decoration: none;
  color: #fff;
}

.label.blue {
	background: #00bee2;
}
.label.green {
	background: #bcd63a;
}
.label.red {
	background: #f26c4f;
}
.label.yellow {
	background: #ffb800;
}

section, .section-title {
	padding: 10px 20px;
}

.section-title {
	padding-bottom: 0;
}

.standout {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
  background: -webkit-linear-gradient(bottom, #f6f6f6 0%, #fff 20%);
	background: linear-gradient(to top, #f6f6f6 0%, #fff 20%);
	padding: 20px 40px;
}

.main h4 {
  margin-top: 20px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table th {
    text-align: left;
    background: #f0f0f0;
}

table th, table td {
    padding: 4px 8px;
}

table tr:nth-of-type(2n) td {
    background: #f5f5f5;
}

table tr:last-of-type td {
    border-bottom: 1px solid #f1f1f1;
}

/* media queries */

nav.secondary {
  width: 260px;
  float: left;
  min-height: 100%;
}

.content {
  float: left;
  width: 680px;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

/* ipad portrait */
@media (max-width: 768px) {
  .wrapper {
    width: 740px;
  }

  nav.secondary {
    width: 240px;
  }

  .content {
    width: 500px;
  }

  body > header + div {
    padding: 20px 0;
  }
}

@media (max-width: 320px) {
  .wrapper {
    width: 300px;
  }

  nav.secondary {
    width: 300px;
  }

  .content {
    width: 300px;
  }

  footer ul {
    width: 150px;
  }

  nav.primary a {
    float: right;
    margin-left: 6px;
    padding-top: 6px;
    font-size: 0.55em;
  }

  nav.primary {
    padding-bottom: 40px;
  }

  nav.primary > a:first-of-type {
    float: none;
    display: block;
  }

  .pagetitle {
    font-size: 1.2em;
    padding: 20px 0;
  }

  body > header + div {
    padding: 20px 0;
  }
}
