{% extends "layouts/content.html" %}
{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Watson</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/hello-world.json">Json</a></li>
              <li><a href="/hello" class="active">Vassal</a></li>
              <li><a href="/world">Nginx Config</a></li>
              <li><a href="/invalid">500</a></li>
              <li><a href="/404">404</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <h1>uWSGI Vassal</h1>
      <p>This is a sample yaml uwsgi vassal file to be used in emperor mode.</p>
      <pre>
uwsgi:
	master: true
	processes: 1
	vaccum: true
	chmod-socket: 666
	uid: www-data
	gid: www-data
	socket: /tmp/watson.sample.com.local.sock
	chdir: /var/www/watson.sample.com/src/app
	logoto: /var/www/watson.sample.com/src/logs/error_log
	home: /home/dev/virtualenvs/py3k
	pythonpath: /var/www/watson.sample.com/src/app
	pythonpath: /var/www/watson
	module: app
	touch-reload: /var/www/watson.sample.com/src/app/app.py
      </pre>

    </div>
{% endblock %}